.today-forecast-header {
    margin-left: 20px;
    font-weight: 400;
}

.right-app-side-container {
    width: 100%;
    background-color: aliceblue;
}

@media only screen and (min-width: 32px) and (max-width: 1024px) {
    .today-forecast-header {
        margin: auto;
        text-align: center;
        padding: 15px;
    }
}
