.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px;
    gap: 50px 30px
}
.grid-item {
    background-color: rgba(68, 108, 251, 0.8);
    border-radius: 15px;
    color: white;
    padding: 20px;
    height: 100px;
    min-width: 150px;
    max-width: 300px;
    text-align: center;
}

@media only screen and (min-width: 32px) and (max-width: 480px)  {
    .grid-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .grid-item {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 822px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }
}