.left-side-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bbdfff;
}

@media only screen and (min-width: 1025px) and (max-width: 2700px) {
    .left-side-container {
        width: 400px;
    }
}