.weather-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: space-around;
}

.weather-image-icon {
    height: 200px
}

.weather-temp {
    font-size: 60px;
}

.weather-location {
    font-size: 30px;
    font-weight: 300;
}

.deg {
    font-weight: lighter;
    font-size: smaller;
}